.gh-repo-nav {
    display: flex;
    align-items: center;

    & a {
        padding: 5px 16px;
        font-weight: 500;
        line-height: 20px;
        color: #24292e;
        border: 1px solid #e1e4e8;
        text-decoration: none;

        &:nth-of-type(1) {
            border-radius: 6px 0px 0px 6px;
        }
        &:nth-of-type(2) {
            border-radius: 0px 6px 6px 0px;
        }

        & .gh-count {
            margin: 0 0 0 4px;
        }
    }
}
