.gh-count {
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #24292e;
    text-align: center;
    background-color: rgba(209, 213, 218, 0.5);
    border: 1px solid transparent;
    border-radius: 2em;
}
